---
title: eTrusted
---

.row.topline
.row
  .col-12.mt-64.text-center
    %picture.profile-image
      %source{:media => "(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)", :srcset => "images/oliver-pitsch.jpg"}
      %source{:media => "(prefers-color-scheme: dark)", :srcset => "images/oliver-pitsch-dark.jpg"}
      %img.profile-image{:alt => "Oliver Pitsch", :src => "images/oliver-pitsch.jpg", height: "192px"}/

.row
  .col-12.text-center.mt-32
    %h1 Oliver Pitsch
    %h2.mt-24
      Director UX 
      %span.amp &amp;
      Product Marketing
      %span.regular at 
      %span.underline Trusted Shops
.row.mt-128
  .col-2.timeline.d-none.d-sm-block
  .col-3.col-sm-2.timeline.timeline-indicator.text-center
    = company_logo "united-prototype"
    %h4 United Prototype
    %span.timespan 2010 &ndash; 2011
  .col-3.col-sm-2.timeline.timeline-indicator.text-center
    = company_logo "reputami"
    %h4 Reputami
    %span.timespan 2011 &ndash; 2015
  .col-3.col-sm-2.timeline.timeline-indicator.text-center
    = company_logo "studitemps"
    %h4 Studitemps
    %span.timespan 2015 &ndash; 2017
  .col-3.col-sm-2.timeline.timeline-indicator.text-center
    = company_logo "trusted-shops"
    %h4 Trusted Shops
    %span.timespan 2017 &ndash; now

.row.justify-content-center.mt-128
  .col-5.col-md-8
    %p Oliver Pitsch is a product design leader from Cologne, Germany with over a decade of experience in setting up great UX skills in cross-functional agile product teams and harmonizing the discovery and delivery of digital products.
    %p Together with his partner Ali Saffari he is the founder and former managing director of Reputami, a reputation management Saas for the hospitality industry, which was acquired in 2015.
    %p 
      Currently, Oliver is directing User Experience & Product Marketing at
      = succeed "." do
        %a(href="https://trustedshops.de") Trusted Shops
.row.justify-content-center.text-center.mt-164
  .col-12.mb-32
    %h3 Get in touch
  .col-4.col-md-6
    .row.justify-content-center 
      .col-2
        %a.social-link(href="https://www.linkedin.com/in/oliverpitsch/" title=" Oliver Pitsch on LinkedIn")
          = svg "linkedIn"
      .col-2
        %a.social-link(href="https://www.xing.com/profile/Oliver_Pitsch2/cv" title="Oliver Pitsch on Xing")
          = svg "xing"
      .col-2
        %a.social-link(href="https://uxatc.medium.com/" title="Oliver Pitsch on Medium")
          = svg "medium"
      .col-2
        %a.social-link(href="https://www.instagram.com/addictedtocoffee/" title="Oliver Pitsch on Instagram")
          = svg "instagram"
      .col-2
        %a.social-link(href="https://twitter.com/ot" title="Twitter")
          = svg "twitter"

.row.footer.mt-164
  .col-12.text-center
    %a(href="") Imprint & Data Privacy 


